node_modules
.tmp
.sass-cache
bower_components
dist/application/config/development/database.php
dist/application/config/production/database.php
dist/application/config/development/encryption.php
dist/application/config/production/encryption.php
