.btn {
	background-color: transparent;
	border: 4px solid white;
	box-shadow: none;
	display: block;
	margin-top: 1em;
	text-transform: uppercase;
	transition: background-color 0.25s ease-in, color 0.25s ease-in;
	width: 100%;
	max-width: 10em;

	&:hover,
	&:active {
		background-color: white;
		color: $c_main;
	}
}
