input[type=text],
input[type=email],
input[type=url],
textarea {
	color: $c_main;
	display: block;
	font-size: 0.875em;
	line-height: 1.75em;
	margin-bottom: 1em;
	padding: 0.25em 0.5em;
	width: 100%;
}

.form_textarea {
	background-color: white;
	color: $c_main;
	font-size: 0.875em;
	margin-bottom: 1em;
	padding: 1.75em 1em 1em 1em;
}
